<!-- 1-Ejercicio de Testeo: Creando componentes-->
<!--    <primercomponente></primercomponente> -->

<!--2-Ejercicio. Tutorial Official 'Getting Started' de la página oficial: -->
<!--
    <app-top-bar></app-top-bar>
    <app-product-list></app-product-list>
-->

<!--3-Ejercicio. Comunicación entre Componentes-->
<padre-test1></padre-test1>

<!--4-Ejercicio. Comunicación entre Componentes. Calculadora/PadreHijo-->
<!-- <app-padre-num></app-padre-num> -->