<h1>Componente padre</h1>
<hr/>
<div class="container mt-3">
    <h4>{{nombre}}</h4>
    <button class="btn btn-primary" (click)="cambiarNombre()">Cambiar Nombre</button>
</div>
<hr/>
<!--Hijo-->
<div class="container mt-3">
    <!--Input-->
    <hijo-nombre [nombreFromPadre]=nombre (nombreFromHijo)="nombre = $event"></hijo-nombre>
</div>