<nav class="navbar navbar-expand navbar-dark bg-primary md-col-3 p-3">
    <a>
        <h1 class="">My Store</h1>
    </a>

    <a class="button btn btn-primary"><i class="material-icons">shopping_cart</i>Checkout</a>
</nav>