<div class="text-center text-secondary align-items-center p-3">
    <table class="secondary align-items-end">
        <th colspan="4"> HIJO - Operaciones</th>
        <tr>
            <td>
                <button class="tamB btn btn-light" (click)="suma()">+</button></td>
            <td><button class="tamB btn btn-light" (click)="resta()">-</button></td>
            <td><button class="tamB btn btn-light" (click)="multiplica()">x</button></td>
            <td><button class="tamB btn btn-light" (click)="divide()">/</button></td>
        </tr>
    </table>
</div>