<h2>Products</h2>

<!--Directiva-->
<div *ngFor="let product of products" class="m-4">
    <div class="list-group-horizontal table-bordered col-md-3">
        <h4>
            <a [title]="product.name + ' details'">{{ product.name }}</a>
        </h4>

        <p *ngIf="product.description">
            Description: {{ product.description }}
        </p>

        <button class="btn-primary m-3" (click)="share()">
          Share
        </button>

        <!--Input y Output-->
        <app-product-alert [product]="product" (notify)="onNotify()">
        </app-product-alert>
    </div>



</div>