<div class="padre container text-primary ">
    <table class="list-group-item-primary">
        <th colspan="2" class="text-center"> PADRE </th>
        <tr>
            <td class="font-weight-bold p-2" p-5>Valor1</td>
            <td><input class="form-control text-right font-weight-bold p-2" [(ngModel)]="valor1"></td>
        </tr>
        <tr>
            <td class="font-weight-bold p-2">Valor2</td>
            <td><input class="form-control text-right font-weight-bold p-2" [(ngModel)]="valor2"></td>
        </tr>
        <br>
        <tr>
            <p>
                <td class="font-weight-bold p-2"> Resultado </td>
                <td><b> {{ resultadoP }} </b></td>
            </p>
        </tr>
        <hr/>
        <tr class="compHijo align-items-center">
            <!--Componente hijo-->
            <!--Input: pasamos los valores del padre-->
            <app-hijo-operaciones [valor1]="valor1" [valor2]="valor2" (envRes)="captaResultado($event)"></app-hijo-operaciones>
        </tr>
    </table>


</div>